@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@(ViewData["Title"]?.ToString() + (string.IsNullOrEmpty(ViewData["Title"]?.ToString()) ? "" : " - "))Gunucco, a common api for creators</title>

    <link rel="alternate" type="application/rss+xml" title="Gunucco Rss" href="/api/v1/rss/localtimeline" />

    <environment names="Development">
        <link rel="stylesheet" href="~/css/webclient.css" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/webclient.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <!-- Header -->
    <nav>
        <div id="navigation-bar">
            <div id="navigation-container">
                <div id="gunucco-mini-logo"><a href="/">Gunucco</a></div>

                <ul id="navigation-right-menu">
                    @if ((ViewBag.IsAuthenticated as bool?) == true)
                    {
                        <li><a href="/web/mypage">My page</a></li>
                    }
                    else
                    {
                        <li><a href="/web/signin">Sign in</a></li>
                        <li><a href="/web/signup">Sign up</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <!-- Contents -->
    @RenderBody()

    <!-- Footer -->
    <footer>
        <div id="footer">
            <span id="footer-copyright">Server admin: <a href="@Config.AdministratorUri">@Config.AdministratorName</a></span>
            <a id="footer-projectlink" href="https://github.com/kmycode/gunucco">Go Project Page</a>
        </div>
    </footer>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/webclient.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/webclient.js" asp-append-version="true"></script>
    </environment>

    <environment>
        @{
            // load extra script files
            var extraScript = ViewData["ExtraScript"] as string;
            if (!string.IsNullOrEmpty(extraScript))
            {
                foreach (var script in extraScript.Split(' '))
                {
                    @:<script src="/js/@(script).js"></script>
                }
            }
        }
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
