@model Gunucco.ViewModels.MyPageBookViewModel
@{
    ViewData["Title"] = "My page";
}

<!-- message -->
@if (this.Model.Message.HasMessage)
{
    <div id="@(this.Model.Message.IsError == false ? "page-message-container" : "page-error-container")">
        <div id="page-message">
            @this.Model.Message.Message
        </div>
    </div>
}

<!-- my page -->
<div id="mypage-container" class="@(this.Model.Message.HasMessage ? "under-page-message" : "")">
    <h1>@this.Model.Book.Name</h1>
    <div class="mypage-subtitle">
        <form action="/web/mypage" style="display:inline" method="post">
            <input type="hidden" name="auth_token" value="@this.Model.AuthData.AuthToken" />
            <input type="submit" class="link-like" value="My page" />
        </form>
        &gt;
        @this.Model.Book.Name
    </div>

    <div class="mypage-block-container my-chapters">
        <h2>Chapters</h2>
        <ul>
            @foreach (var chapter in this.Model.Chapters)
            {
                <li style="margin-left:@(chapter.Depth * 12)px">
                    <form action="/web/mypage/chapter" style="display:inline" method="post">
                        <input type="hidden" name="auth_token" value="@this.Model.AuthData.AuthToken" />
                        <input type="hidden" name="book_id" value="@chapter.Item.BookId" />
                        <input type="hidden" name="chapter_id" value="@chapter.Item.Id" />
                        <input type="submit" class="link-like" value="Edit" />
                    </form>
                    <form action="/web/mypage/chapter/reorder" style="float:right" method="post">
                        <input type="hidden" name="auth_token" value="@this.Model.AuthData.AuthToken" />
                        <input type="hidden" name="book_id" value="@chapter.Item.BookId" />
                        <input type="hidden" name="chapter_id" value="@chapter.Item.Id" />
                        <input type="text" class="mini" name="chapter_order" value="@chapter.Item.Order" />
                        <input type="submit" class="link-like" value="Set order" />
                    </form>
                    <span class="item-name">@chapter.Item.Name</span>
                </li>
            }
        </ul>
    </div>

    <div class="mypage-block-container my-chapters">
        <h2>New chapter</h2>
        <form action="/web/mypage/chapter/new" method="post">
            <input type="hidden" name="auth_token" value="@this.Model.AuthData.AuthToken" />
            <input type="hidden" name="book_id" value="@this.Model.Book.Id" />
            <div class="form-label">Chapter name</div>
            <input type="text" name="chapter_name" value="" />
            <input type="submit" value="Create" />
        </form>
    </div>
</div>
